@model IEnumerable<RestaurantReserve.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
}

<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<section id="mainContent">
    <div class="content_top">
        <div class="row">
            <!-- <div class="col-lg-6 col-md-6 col-sm6">
                 <div class="latest_slider">
                     <div class="slick_slider">
                         <!--div class="single_iteam"><img src="images/img1.jpg" alt="">
                           <h2><a class="slider_tittle" href="pages/single.html">Welcome to our amazing restaurant</a></h2>
                         </div
                         <div class="single_iteam">
                             <img src="images/img2.jpg" alt="">
                             <h2><a class="slider_tittle" asp-controller="PhysicalTables" asp-action="Redisplay"> Popular</a></h2>
                         </div>
                         <!--div class="single_iteam"><img src="images/img3.jpg" alt="">
                           <h2><a class="slider_tittle" href="pages/single.html">Welcome to our amazing restaurant</a></h2>
                         </div>
                         <div class="single_iteam"><img src="images/img3.jpg" alt="">
                           <h2><a class="slider_tittle" href="pages/single.html">Welcome to our amazing restaurant</a></h2>
                         </div>
                     </div>
                 </div>
             </div>-->

            <div class="col-lg-12 col-md-12 col-sm12">

                <ul class="featured_nav wow fadeInDown">
                    @foreach (var item in Model)
                    {
                        <li>
                            <img src="@item.pictureUrl" alt="No Picture">
                            <div class="title_caption">
                                <a asp-controller="PhysicalTables" asp-action="Redisplay" asp-route-id="@item.restaurantId">  @Html.DisplayFor(modelItem => item.name)</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>

<table class="table">
    <tbody>
        @*{
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.city)
                        </td>
                        <td>
                            <a asp-controller="PhysicalTables" asp-action="Redisplay" asp-route-id="@item.restaurantId">Reserve a table here!</a>
                        </td>
                    </tr>
            }*@
    </tbody>
</table>
